main {
  margin-top: 10rem;
}

h1 {
  font-size: 50px;
  color: red;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-left: 5%;
}

input {
  font-size: 20px;
  width:70%;
  background-color: rgb(237, 239, 236);
  border-color: black;
  border-radius: 10px;
  padding: 16px 16px;
  margin-left: 15%;
  margin-bottom: 20px;
}

textarea {
  font-size: 20px;
  width: 70%;
  background-color: white;
  border-color: black;
  border-radius: 10px;
  padding: 16px 16px;
  margin-left: 15%;
  margin-bottom: 30px;
}

/*This selects the the elements ancestors*/
input:focus-within {
  outline: none;
  border-color: green;
  border-width: 2px;
}

textarea:focus-within {
  outline: none;
  border-color: green;
  border-width: 2px;
}

button {
  display: flex;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  padding: 10px 18px;
  margin: auto;
  border-color: rgb(17, 17, 17);
  background-color: green;
}

button:hover{
  background-color: black;
  color: white;
  opacity: 50%;
  cursor: pointer;
  
}

iframe {
  display: block;
  justify-self: center;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
  border: none;
}



@media screen and (max-width:800px) {
  iframe {
    width: 400px;
    height: 400px;
    margin-left: 15%;
  }
  button {
    margin-left: 35%;
  }
}
  