.container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  
}

img {
  width: 100%;
  margin: auto;
  aspect-ratio:  10 / 16;
  object-fit: cover;
}

.stacked {
  display: grid;
}

/*Choose every direct child*/
.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card-content {
  background-color: white;
  align-self: end;
  margin: .2rem;
  padding: .2rem;
  box-shadow: 10px 10px 5px rgb(26, 12, 12);
}


.card {
  aspect-ratio: 5 / 16;
}

.card-title {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.1;
  color: aqua;
}

.card-description {
  font-size: 1.50rem;
}