body {
  color: white;
  background-image:
    linear-gradient(to right, rgba(233, 40, 75, 0.40), rgba(14, 55, 168, 0.40)),
    url(../Images/big-space-battles.jpg);
  background-attachment: fixed;
  /*To make sure the background is responsive*/
  background-size: cover;
  background-repeat: no-repeat;
  /*Keeps the background image centered even when mobile*/
  background-position: center center;
  
}

.hero-section {
  padding-top: 10rem;
}


h1, h2 {
  max-width: 20ch;
  padding: 1rem;
  text-align: center;
  font-size: 22px;
  justify-content: center;
  border-radius: 12px;
  border: 2px;
  background-color: hsla(20, 32%, 50%, 0.6);
  margin: auto;
  margin-top: 2rem;
}


.options {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  justify-self: center;
  text-decoration: none;
  box-shadow: 0 9px #999;
}

.button:hover {
  opacity: 0.70;
}


.button:active, .red a:active{
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: white;
}


.red {
  margin-left: 5rem;
  max-width: 70%;
  max-height: 70%;
  background-color: red;
}

.blue {
  margin-right: 5rem;
  max-width: 70%;
  max-height: 70%;
  background-color: rgb(74, 155, 97);
  color: black;
}

footer {
  padding-top: 22rem;
  position:sticky;
  margin:auto
}




@media screen and (max-width: 600px){
  h1, h2 {
    max-width: 20ch;
    margin: auto;
    font-size: 19px;
    margin-top: 1rem;
  }


  body {
    background-position-y: 0vh;
    background-position-x: 30%;
  }
  footer {
    padding-top: 27rem;
    position:sticky;
    margin:auto
  }

}