body {
  background-color: beige;
  color: black;
}


.nav-main {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(229, 229, 243, 0.578);
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a {
  text-decoration: none;
  color: green;
  display: block;
  padding: 0 10px;
  text-transform: uppercase;
}

.logo {
  font-size: 3rem;
  display: flex;
  text-align: center ;
  /*Float and justify content will not put the logo on the other end but adding margin-left auto did.*/
  margin-left: auto;
  padding-right: 2rem;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: rgb(37, 185, 74);
  background-image: url(../Images/menu.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
}

.btn-toggle-nav:hover {
  opacity: 50%;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 60px;
  padding: 0 5;
  /*We will subtract 60 px because the menu button toggle is 60px big*/
  height: calc(100vh - 60px);
  background-color: black;
}

.nav-sidebar ul {
  padding-top: 15px;
  /*So that the words doesn't go out of the container*/
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul span, a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 128, 19);
  font-size: 22px;
  white-space: nowrap;
}

.nav-sidebar ul li a:hover {
  color: red;
}


