.container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
  position: relative;
  overflow: hidden;
}

.product-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  grid-gap: 5px;
}


img {
  width: 100%;
  margin: auto;
  aspect-ratio:  10 / 16;
  object-fit: cover;
}

.stacked {
  padding-top: 2rem;
  display: grid;

}

/*Choose every direct child*/
.stacked > * {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.card-content {
  background-color: hsla(0, 0%, 0%, 0.90);
  align-self: end;
  margin: .2rem;
  padding: .2rem;
  box-shadow: 10px 10px 6px rgb(26, 12, 12);
  border: 2rem;
  border-radius: 2rem;
}


.card {
  aspect-ratio: 5 / 16;
  justify-content: space-between;
  border: 1rem;
}

.card-title {
  text-align: center;
  line-height: 1.1;
  color: rgb(200, 255, 0);
  padding-top: 1rem;
}


/*So that the anchor tag is only to the position of the card image and description*/
a {
  position: relative;
}

img {
  border-radius: 2rem;
  border: color(red);
}


@media screen and (max-width: 700px){
  .card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
    aspect-ratio: 4/10;
  }

  .product-grid {
    padding-left: 1.5rem;
    margin: auto;
  }
}


@media screen and (min-width: 700px){
  .card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
    aspect-ratio: 4/16;
    margin: auto;
  }

}

@media screen and (min-width: 800px){
  .card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
    aspect-ratio: 5.3/10;
  }
}

